{% extends 'base/base.html' %}
{% load static thumbnail %}
{% block title %}{{ WEBTITLE }}{% endblock %}
{% block keywords %}{{ WEBKW }}{% endblock %}
{% block description %}{{ WEBDES }}{% endblock %}
{% block head %}
{#幻灯片使用#}
  <script src="{% static 'js/TouchSlide.1.1.js' %}"></script>
{% endblock %}
{% block content %}
  <body class="bgw">
    {% include 'base/header.html' %}
    {% include 'base/nav.html' %}
    <div id="content">
		  <div class="title clearfix">
        <h3>编辑推荐</h3>
      </div>
		  <div class="pop-books mb clearfix">
        <ol>
          {% for album in albums %}
          <li class="pop-book">
            <a href="{{ album.get_album_url }}" title="{{ album.name }}">
              {% thumbnail album.image "120x150" crop="center" as im %}
                <img alt="{{ album.name }}" src="{{ im.url }}" />
                {% empty %}
                <img alt="{{ album.name }}" src="http://placehold.it/120x150" />
              {% endthumbnail %}
            </a>
            <a href="{{ album.get_album_url }}" title="{{ album.name }}">
              <h2 class="pop-tit">{{ album.name }}</h2>
              <span class="pop-intro" title="{{ album.category.name }}">{{ album.category.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ol>
		  </div>
      <div class="hot-books clearfix">
        <ol>
          <li class="hot-book-tit">
            <h2>最新专辑：</h2>
          </li>
          {% for album in newalbums %}
          <li class="hot-book">
            <a href="{{ album.get_album_url }}" title="{{ album.name }}">
              <h2 class="pop-tit">{{ album.name }}</h2>
            </a>
          </li>
          {% endfor %}
        </ol>
        <ol>
          <li class="hot-book-tit">
            <h2>最新小说：</h2>
          </li>
          {% for newnovel in newnovels %}
          <li class="hot-book">
            <a href="{{ newnovel.get_novel_url }}" title="{{ newnovel.name }}">
              <h2 class="pop-tit">{{ newnovel.name }}</h2>
            </a>
          </li>
          {% endfor %}
        </ol>
      </div>
      <div id="lxfoot" class="copyright bt clearfix">
      {% include 'base/footer.html' %}
      </div>
    </div>
  </body>
{% endblock %}
