{% extends 'base/base.html' %}
{% load static thumbnail %}
{% block title %}{{ article.title }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}
{% block head %}
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ article.get_article_url }}" />
<link rel="stylesheet" href="{% static 'css/viewer.min.css' %}" />
{% endblock %}

{% block content %}
  <body>
    {% include 'base/header.html' %}
    {% include 'base/nav.html' %}
    <div class="breadcrumb bb clearfix">{% include 'base/breadcrumb.html' with name=article.name link=article.get_article_url %}</div>
    <div id="content">
      <article class="post clearfix">
        <h1 class="notice-title">{{ article.name }}</h1>
        <p class="post-time"><b>{{ article.user }}</b>发布于&nbsp;{{ article.updated_at|timesince }}之前</p>
        <div class="notice-text" id="dowebok">
          {{ article.content|safe }}
        </div>
      </article>
      <div id="lxfoot" class="copyright bt clearfix">
      {% include 'base/footer.html' %}
      </div>
    </div>
  </body>
{% endblock %}

{% block footer %}
<script src="{% static 'js/viewer-jquery.min.js' %}"></script>
  <script>
  $('#dowebok').viewer();
  </script>
{% endblock %}
