{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ WEBTITLE }}{% endblock %}
{% block keywords %}{{ WEBKW }}{% endblock %}
{% block description %}{{ WEBDES }}{% endblock %}
{% block head %}
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ category.get_url }}" />
{% endblock %}
{% block content %}
  <body>
    {% include 'base/header.html' %}
    {% include 'base/nav.html' %}
    <div class="breadcrumb clearfix">
      <div class="bc-div">
        <span class="f-my">欢迎访问{{ WEBNAME }}</span>
      </div>
    </div>
    <div id="content-list" class="clearfix">
{#      <article class="post clearfix">#}
{#        <h1 class="cat-title bb"></h1>#}
{#      </article>#}
      <div class="bigdbsbox">
        {% for bigdb in bigdbs %}
          {% if bigdb.get_thumbnails|length > 0  and  bigdb.get_thumbnails|length <= 2 %}
          <div class="bigdbs">
            <h3 class="bigdbtitle">
              <a href="{{ bigdb.get_url }}">{{ bigdb.get_name }}</a>
            </h3>
            <span class="bigdbpic">
              <a href="{{ bigdb.get_url }}" title="bigdb.get_name">
                <img src="{{ bigdb.get_thumbnails.0 }}" onerror="this.src='{% static 'bigdb_noimage.jpg' %}'" alt="bigdb.get_name">
              </a>
            </span>
            <p class="bigdbtext">{{ bigdb.get_introduction|truncatechars:150 }}</p>
            <div class="bigdbinfo">
              <ul>
                <li class="lmname"><a href="{{ bigdb.category.get_url }}">{{ bigdb.category.name }}</a></li>
                <li class="timer">发布于&nbsp;{{ bigdb.updated_at|timesince }}之前</li>
              </ul>
            </div>
          </div>
          {% elif bigdb.get_thumbnails|length >= 3 %}
            <div class="bigdbs">
              <h3 class="bigdbtitle">
                <a href="{{ bigdb.get_url }}">{{ bigdb.get_name }}</a>
              </h3>
              <span class="bplist">
                <a href="{{ bigdb.get_url }}" title="{{ bigdb.get_name }}">
                  <li><img src="{{ bigdb.get_thumbnails.0 }}" alt="{{ bigdb.get_name }}" onerror="this.src='{% static 'bigdb_noimage.jpg' %}'"></li>
                  <li><img src="{{ bigdb.get_thumbnails.1 }}" alt="{{ bigdb.get_name }}" onerror="this.src='{% static 'bigdb_noimage.jpg' %}'"></li>
                  <li><img src="{{ bigdb.get_thumbnails.2 }}" alt="{{ bigdb.get_name }}" onerror="this.src='{% static 'bigdb_noimage.jpg' %}'"></li>
                </a>
              </span>
              <p class="bigdbtext">{{ bigdb.get_introduction|truncatechars:150 }}</p>
              <div class="bigdbinfo">
                <ul>
                  <li class="lmname"><a href="{{ bigdb.category.get_url }}">{{ bigdb.category.name }}</a></li>
                  <li class="timer">发布于&nbsp;{{ bigdb.updated_at|timesince }}之前</li>
                </ul>
              </div>
            </div>
          {% else %}
            <div class="bigdbs">
              <h3 class="bigdbtitle">
                <a href="{{ bigdb.get_url }}">{{ bigdb.get_name }}</a>
              </h3>
              <p class="bigdbtext">{{ bigdb.get_introduction|truncatechars:150 }}</p>
              <div class="bigdbinfo">
                <ul>
                  <li class="lmname"><a href="{{ bigdb.category.get_url }}">{{ bigdb.category.name }}</a></li>
                  <li class="timer">发布于&nbsp;{{ bigdb.updated_at|timesince }}之前</li>
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if is_paginated %}
      <div style="display: none;" id="pagelist">
      {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一页</a>
      {% endif %}
      </div>
      {% endif %}

      <div id="lxfoot" class="copyright bt clearfix">
        {% include 'base/footer.html' %}
      </div>

    </div>
  </body>
{% endblock %}
{% block footer %}
  <script src="{% static 'js/jquery.ias.min.js' %}"></script>
  <script>
    var ias = $.ias({
        container: ".bigdbsbox", //包含所有文章的元素
        item: ".bigdbs", //文章元素
        pagination: "#pagelist", //分页元素
        next: "#pagelist a",
    });
    ias.extension(new IASTriggerExtension({
        text: '<div style="margin-bottom: 20px;">点击加载更多</div>', //此选项为需要点击时的文字
        //offset: 2, //设置此项后，到 offset-1 页之后需要手动点击才能加载，取消此项则一直为无限加载
    }));
    ias.extension(new IASSpinnerExtension());
    ias.extension(new IASNoneLeftExtension({
        text: '<div style="color:#909090;margin-bottom: 20px;">加载完成！</div>', // 加载完成时的提示
    }));

    /*
    ias.on('rendered', function(items) {
        $(".content img").lazyload({
            effect: "fadeIn",
            failure_limit : 10
        }); //这里是你调用Lazyload的代码
    })
    */
  </script>
{% endblock %}

